<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="row">
<div class="col-sm-12">
  <a href="/shape" class="btn btn-secondary">
    Play Shape Finding
  </a>
  <!-- <a href="/ants" class="btn btn-secondary"> -->
  <div class="btn btn-secondary">
    Play Tressure Hunt
  </div>
  <!-- </a> -->
</div>
</div>

<% include ../partials/footer.ejs %>
<script type="text/javascript">
</script>

</body>
</html>
