<!DOCTYPE html>
<html>
<head>
  <%# include ../partials/header.ejs %>
</head>

<body>

  <%# include ../partials/nav.ejs %>

<p id="demo"></p>
<script type="text/javascript" src="ants_game.js"></script>

</body>
</html>
